<ejs-grid [dataSource]="listCate"
[toolbar]="toolbarOptions"
  [allowTextWrap]="true"
  [editSettings]="editSettings"
  width="100%"
  [allowPaging]="true"
  [pageSettings]="pageSettings"
  (actionBegin)="actionBegin($event)"
  (actionComplete)="actionComplete($event)"
  [allowSorting]="true"
  height="455">
<e-columns>
  <e-column field="CategoryId" headerText="Mã loại sản phẩm">
    <ng-template #editTemplate let-data>
      </ng-template>
  </e-column>
  <e-column field="CategoryName" headerText="Tên loại sản phẩm">
    <ng-template #editTemplate let-data>
      <ejs-textbox
        [value]="data?.CategoryName"
        (valueChange)="
      onInputChange({ key: 'CategoryName', value: $event })"
        cssClass="e-outline"
        
        placeholder="Tên loại sản phẩm"
      >
      </ejs-textbox>
    </ng-template>
  </e-column>
  <e-column field="Description" headerText="Mô tả">
    <ng-template #editTemplate let-data>
      <ejs-textbox
        [value]="data?.Description"
        (valueChange)="
      onInputChange({ key: 'Description', value: $event })"
        cssClass="e-outline"
        
        placeholder="Mô tả"
      >
      </ejs-textbox>
    </ng-template>
  </e-column>
</e-columns>
</ejs-grid>